.Resume{
    outline: none;
    padding: 10px 8px;
    background-color: #07082a;
    color: #fff;
    border: 1px solid #fff;
border-radius: 5px;
}
.git{
    outline: none;
    padding: 10px 25px;
    background-color: #07082a;
    color: #fff;
    border: 1px solid #fff;
border-radius: 5px;

}