.page-not-found{
    width: 100%;
    height: 100vh;
    background: url("../Notfound/siteground-404-page.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}